[Desktop Entry]
Name=Ubuntu
GenericName=Terminal entering Ubuntu
Comment=Terminal entering Ubuntu
Categories=Distrobox;System;Utility
Exec=/nix/store/fazrrj8h7gb8dkni9ffk2hkggpannwfs-distrobox-1.7.2.1/bin/distrobox enter  ubuntu
Icon=/home/ben/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/nix/store/fazrrj8h7gb8dkni9ffk2hkggpannwfs-distrobox-1.7.2.1/bin/distrobox
Type=Application
